@import "./utilities/spacing.scss";
@import "./utilities/shadow.scss";
@import "./utilities/visibility.scss";
@import "./utilities/stretched-link.scss";
@import "./utilities/sizing.scss";
@import "./utilities/position.scss";
@import "./utilities/overflow.scss";
@import "./utilities/float.scss";
@import "./utilities/display.scss";
@import "./utilities/clearfix.scss";
@import "./utilities/borders.scss";
@import "./utilities/background.scss";
@import "./utilities/align.scss";



///////////////////////////////////////////////////////////////////////////////

.m-text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

