@import "../variables.scss";

//border directions
@each $direction, $directionAbbr in $directions {
    $seprator: "-";
    @if $direction == "" {
        $seprator: "";
    }

    //normal border
    .#{$suffix}border#{$seprator + $directionAbbr} {
        border#{$seprator + $direction}: 1px solid $colorStandard !important;
    }
    //zero border for that direction
    .#{$suffix}border-#{$directionAbbr}0 {
        border#{$seprator + $direction}: 0 !important;
    }
}



//border colors
@each $colorName, $color in $COLORS {
    .#{$suffix}border-#{$colorName} {
        border-color: $color !important;
    }
}



//border width
@each $sizeName, $sizeValue in $borderSizes {
    $spacer: "-w";
    @if $sizeName == "" {
        $spacer: "";
    }

    .#{$suffix}border#{$spacer + $sizeName} {
        border-width: $sizeValue !important;
    }
}



///////////////////////////////////////////////////////////////////////////////
//radius

.#{$suffix}rounded-0 {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}
.#{$suffix}rounded {
    -webkit-border-radius: 0.3em !important;
    border-radius: 0.3em !important;
}
.#{$suffix}rounded-t {
    -webkit-border-top-left-radius: 0.3em !important;
    -webkit-border-top-right-radius: 0.3em !important;
    border-top-left-radius: 0.3em !important;
    border-top-right-radius: 0.3em !important;
}
.#{$suffix}rounded-r {
    -webkit-border-top-right-radius: 0.3em !important;
    -webkit-border-bottom-right-radius: 0.3em !important;
    border-top-right-radius: 0.3em !important;
    border-bottom-right-radius: 0.3em !important;
}
.#{$suffix}rounded-b {
    -webkit-border-bottom-left-radius: 0.3em !important;
    -webkit-border-bottom-right-radius: 0.3em !important;
    border-bottom-left-radius: 0.3em !important;
    border-bottom-right-radius: 0.3em !important;
}
.#{$suffix}rounded-l {
    -webkit-border-top-left-radius: 0.3em !important;
    -webkit-border-bottom-left-radius: 0.3em !important;
    border-top-left-radius: 0.3em !important;
    border-bottom-left-radius: 0.3em !important;
}


