@import "../variables.scss";
@import "../helper.scss";

//
// Utilities for common `display` values
//

@each $deviceName, $deviceValue in $deviceSizes {
  $spacer: "-";
  @if $deviceName == "" {
    $spacer: "";
  }

  @include mediaDevice($deviceValue) {
    @each $value in $displays {
      .m-d#{$spacer + $deviceName}-#{$value} {
        display: $value !important;
      }
    }
  }
}

  
//
// Utilities for toggling `display` in print
//
  
@media print {
  @each $value in $displays {
    .m-d-print-#{$value} { display: $value !important; }
  }
}