@import "../variables.scss";

@each $position in $positions {
    .#{$suffix}position-#{$position} {
        position: $position !important;
    }
  }
  
  // Shorthand
  
  .#{$suffix}fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
  }
  
  .#{$suffix}fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-fixed;
  }
  
  .#{$suffix}sticky-top {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;
    }
  }