@import "../variables.scss";


@mixin shadow($colorName: "", $color: "") {
    @if $colorName != "" {
        $colorName: "-" + $colorName;
    }

    .#{$suffix}shadow#{$colorName}-sm {
        -webkit-box-shadow: 0 .125rem .25rem rgba($color,.075) !important;
        box-shadow: 0 .125rem .25rem rgba($color,.075) !important;
    }
    .#{$suffix}shadow#{$colorName} {
        -webkit-box-shadow: 0 .5rem 1rem rgba($color,.15) !important;
        box-shadow: 0 .5rem 1rem rgba($color,.15) !important;
    }
    .#{$suffix}shadow#{$colorName}-lg {
        -webkit-box-shadow: 0 1rem 3rem rgba($color,.175) !important;
        box-shadow: 0 1rem 3rem rgba($color,.175) !important;
    }
}


.#{$suffix}shadow-none {
    box-shadow: none !important;
}

//@include shadow;
@each $colorName, $color in $shadowColors {
    @include shadow($colorName, $color);
}