@import "../variables.scss";

//width
@each $sizeName, $sizeValue in $sizes {
    .#{$suffix}w-#{$sizeName} {
        width: $sizeValue !important;
    }
}

//height
@each $sizeName, $sizeValue in $sizes {
    .#{$suffix}h-#{$sizeName} {
        height: $sizeValue !important;
    }
}


.#{$suffix}mw-100 {
    max-width: 100% !important;
}
.#{$suffix}mh-100 {
    max-height: 100% !important;
}

.#{$suffix}min-vw-100 {
    min-width: 100vw !important;
}
.#{$suffix}min-vh-100 {
    min-height: 100vh !important;
}

.#{$suffix}vw-100 {
    width: 100vw !important;
}
.#{$suffix}vh-100 {
    height: 100vh !important;
}

.#{$suffix}fluid {
    display: block;
    width: 100%;
}

//font sizes also used to set elements sizes (like: buttons, lables, ...)
@each $sizeName, $sizeValue in $fontSizes {
    .#{$suffix}#{$sizeName} {
        font-size: $sizeValue !important;
        //padding: ($sizeValue / 2) ($sizeValue);
    }
}