@import "../variables.scss";

//width
@each $sizeName, $sizeValue in $sizes {
    .m-w-#{$sizeName} {
        width: $sizeValue !important;
    }
}

//height
@each $sizeName, $sizeValue in $sizes {
    .m-h-#{$sizeName} {
        height: $sizeValue !important;
    }
}


.m-mw-100 {
    max-width: 100% !important;
}
.m-mh-100 {
    max-height: 100% !important;
}

.m-min-vw-100 {
    min-width: 100vw !important;
}
.m-min-vh-100 {
    min-height: 100vh !important;
}

.m-vw-100 {
    width: 100vw !important;
}
.m-vh-100 {
    height: 100vh !important;
}

.m-fluid {
    display: block;
    width: 100%;
}

//font sizes also used to set elements sizes (like: buttons, lables, ...)
@each $sizeName, $sizeValue in $fontSizes {
    .m-#{$sizeName} {
        font-size: $sizeValue !important;
        //padding: ($sizeValue / 2) ($sizeValue);
    }
}